
/* Headings */
.output h1,
.output h2,
.output h3,
.output h4,
.output h5 {
    color: #26c956;
}

/* Paragraphs */
.markdown .paragraph {
    margin-block-start: 0.5rem;
    margin-block-end: 0.5rem;
}